* {
    margin:0px;
    font-family: 'Poppins', sans-serif;
  }

/* Navigation bar styling */
.navbar{
    display:flex;
    flex-direction:row;
    justify-content: flex-start;
    align-items:center;
}

.navbar a{
    text-decoration:none;
    color:black;
    padding:20px;
    height:100%;
}

.navbar a:hover{
    text-decoration:underline;
}

.navbar > button{
    border-radius:10px;
    border:none;
}
.nav-index{
    display:flex;
    align-items:center;
    justify-content:spaced-between;
}
img{
    padding-left:5px;
    padding-right:10px;
}

/* Main page styling */
.main-image{
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),  
    url("./Images/pineapple-background.jpg");
    
    height:70vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
}

.main-text{
    color:white;
    text-align:center;
    
}
.strong{
    color:gold;
}
button{
    border:none;
    border-radius: 10px;
    padding: 10px 10px;
    background-color:pink;
    color:black;
    text-align:center;
}
button:hover{
    background-color:palevioletred;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    color:white;
}
.features-sub{
    display:inline-flex;
    flex-direction:column;
    flex-basis:auto;
    align-items:left;
    justify-content: center;
    padding:30px 20px 30px 20px;
}
.features-sub>h3,a{
    padding:5px;
}
.features-sub>img{
    object-fit: cover;
    width:64px;
    height:64px;
    padding:10px 0px 10px 10px;
}
.features-list{
    position:relative;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}
hr{
    border:none;
    height:1px;
    background-color:#333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}
.features-text>h2{
    padding-top:30px;
    padding-left:10px;
}

/* Footer styling */
div>.footer-buttons{
    background-repeat: no-repeat;
    background-position:50%;
    text-decoration: none;
    padding:5px;
    overflow:hidden;
}
.footer-buttons>button{
    visibility: hidden;
}

a.footer-buttons.footer-discord{
    background-image: url(./Images/discord-icon.svg); 
}
a.footer-buttons.footer-discord:hover{
    background-image: url(./Images/discord-icon-blue.svg);
}
a.footer-buttons.footer-reddit{
    background-image: url(./Images/reddit-icon.svg); 
}
a.footer-buttons.footer-reddit:hover{
    background-image: url(./Images/reddit-icon-orange.svg);
}
a.footer-buttons.footer-github{
    background-image: url(./Images/github-icon.svg); 
}
a.footer-buttons.footer-github:hover{
    background-image: url(./Images/github-icon-green.svg);
}

.footer-main{
    display:flex;
    align-items:center;
    justify-content: center;
    margin:30px 30px 30px 30px;
}
.footer-left, .footer-right{
    padding-right:30px;
    padding-left:30px;
}
.footer-left>h3,p{
    padding: 5px;
}

.footer-resources>a{
    text-decoration:none;
    color:black;
}
.footer-resources>a:hover{
    text-decoration:underline;
}
footer{
    margin:20px 0px 20px 20px;
}
/* FAQ styling */
h2.faq-subtext, p.faq-subtext{
    margin-top:30px;
    margin-left:20px;
    padding-left:0;
}
button.faq-questions{
    margin-top:30px;
    background-color:white;
    color:black;
    padding:20px;
    width:100%;
    transition:0.5s;
    font-size:1rem;
    border-bottom:black;
    outline-color: black;
    text-align:left;
    font-weight:bold;
}

.faq-answers{
    padding: 5px 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
  }

.faq-questions:after {
    content: '\02C5'; /* Unicode character for "plus" sign (+) */
    font-size: 1rem;
    color: black;
    float: right;
    margin-right: 30px; 
  }
  
.active:after {
    content: "\02C4"; /* Unicode character for "minus" sign (-) */
  }